#map {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 9vh;
   z-index: 0;
}

.mapLegendBtn{
   position: absolute;
   display: flex;
   bottom: 1vh;
   left: 1vh;
   z-index: 1000;
   padding: .3vh;
   background-color: #fff;
   border-radius: 3px;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.mapLegendBtn:hover{
   background-color:#ccc;
}

.indexMap{
   width: 100%;
   position: absolute;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   /* align-items: flex-start; */
   align-self: stretch;
   height: 9vh;
   bottom: 0;
   overflow: hidden;
   /* outline: 1px solid red; */
}

.index_item{
   font-size: .8em;
   color: aliceblue;
   /* margin: 0 .1vw; */
   padding: 0 .1vw;
   background-color: rgb(0, 0, 0);
   border-radius: 0 0 7px 7px;
   border: .1vh solid rgb(255, 255, 255);
   border-top: none;
   cursor: pointer;
   outline: none;
}

.active{
   background-color: rgb(83, 83, 83);
}

.index_item:hover{
   background-color: rgb(83, 83, 83);
}

.index_item:active{
   background-color: rgb(143, 143, 143);
}

@media  (max-width: 1300px) {
   .index_item{      
      font-size: .6em;
   }  
}

@media  (max-width: 530px) {
   .index_item{      
      font-size: .7em;
      border-radius: 0 0 0 0;
   } 

   .indexMap{
      flex-direction: column;
      height: 19vh;
   }  
   #map{
      bottom: 19vh;
   }
}
 