* {
        margin: 0;
        padding: 0;
        border: 0;
  }
  p{
    color: #fffffe;
  }
  .countrySelected{
    color: #7f5af0;
  }
select{
  color :#94a1b2;;
}
.statistics2{
  color: #fffffe;
}
  a{
    color: #94a1b2;
    text-decoration: none;
  }
  html {
    height: 100%;
  }
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;;
  }
  main{
    min-height:530px ;
    padding: 5px 5px;
    background: #242629;
  }

   header{
    text-align: center;
    vertical-align: middle;
    background: #16161a;
  }
  header img{
    width: 35px;
    filter: brightness(1.3) invert(0.17) saturate(1.6) sepia(0.25) url('#x-rays');
  }
  header p{
    display: inline-block;
  }


  .expand{
    position: relative;
    top:0;
    right: 0;
    z-index: 2;
    float: right;
    visibility: hidden;
  }
  .expand input{
      visibility: hidden;
  }

  div >.expand input + span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: url("../assetes/img/fullScreen.png") no-repeat 50% ;
    background-size: contain;
    cursor: pointer;
    filter: invert(0.7);
    
  }
  div >.arrowToDown input{
    visibility: hidden;
  }
  div >.arrowToDown input + span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assetes/img/arrow-down.png") no-repeat;
    background-size: contain;
    transform: rotateX(0deg);
    cursor: pointer;
    filter: invert(0.7);
    transition: 1s;
  }
  div >.arrowToDown input:checked + span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assetes/img/arrow-down.png") no-repeat;
    background-size: contain;
    transform: rotateX(180deg);
    cursor: pointer;
    filter: invert(0.7);
  }

  .arrowToDown{
    position: relative;
    top: 0;
    right: 0;
    float: left;
    text-align: left;
  }


  /* отображеение иконки макс экран*/
    div:hover > .expand{
        visibility:visible;
    }

  .content{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 3fr 1.5fr;
    height: 100%;
  }
  .leftContent{
    display: grid;
    grid-gap: 5px;
    grid-template-rows: auto 1fr auto;
  }

  .centerContent{
    position: relative;
    display: grid;
    grid-gap: 5px;
    grid-template-rows:  1fr;
  }
  .rightContent{
    display: grid;
    grid-gap: 5px;
    grid-template-rows:  2fr auto;
  }

  .allStatistics{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  .clock{
    height: 50px;
  }

  footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color:	#16161a;
  }
  
  .contacts{
    
    width: 100%;
    text-align: center;
  }
  .contacts img {
    display: block;
    width: 100px;
    height:50px ;
    margin: 0 auto;

    /*filter: invert(1);*/
  }
  .graphic{
    
    height: max-content;
    background-color:#16161a;
  }
  .tableCanvas{
    position: relative;
    width: 100%;
    height: max-content;
    padding-top: 15px;
    padding-bottom: 10px;
    vertical-align: middle;
  }
  
.graphic canvas{
  width: 80%;
  margin:auto;
}
.canvas{
  width: 25vw;
  height: 20vh;
  margin: auto;
}
.globalInf{
  height: 50vh;
  overflow-y: scroll;
  text-align: left;
}



.globalInf img{
width: 10%;
max-width: 20px;
}

.globalInf::-webkit-scrollbar-track {border-radius: 4px;}
.globalInf::-webkit-scrollbar {width: 6px;}
.globalInf::-webkit-scrollbar-thumb {background: #f0f2f5;border-radius: 4px;}
.globalInf:hover::-webkit-scrollbar-thumb {background: #94a1b2;}

.countrySelected{
  cursor: pointer;
}

.countryInf, .timeCountry, .amountCountry{
  margin-bottom: 5%;
  border-bottom:solid 1px ;
}

#map .expandInput{
visibility: hidden;

}
#map .expand{
  z-index: 1001;
}








/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    .content{
        grid-template-rows: 1fr auto 1.5fr;
        grid-template-columns: auto;
    }
    .leftContent{
        grid-template-areas:
    "c a"
    "c b";
        grid-template-columns: repeat(2,1fr);
}
.table{
    
    grid-area: c;
}
.globalCases{
    grid-area: a;

    /*height: 100%;*/
}
.clock{
    grid-area: b;
    height: 100%;
}
footer{
  grid-template-columns: repeat(2,1fr);
}
.contacts{
  margin-bottom: 10px;
}

.canvas{
  width: 90vw;
  height: 20vh;
  margin: auto;
}
.map{
  height: 100vh;
}



#map{
  position: relative;
  margin-bottom: 9vh;
}

.centerContent .FullScreen{
  position: fixed !important;
}

    }




.FullScreen .globalInf{
  height: 100vh;
  text-align: center;
}
.FullScreen  p{
font-size: 30px;}

.FullScreen .expand{
  margin: 5px;
}
.Fullobj{
  width: 80vw;
  height: 80vh;
}



.FullScreen{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1001;
  width: 100%;
  height: 100%;
  
}



